# disables exposing all npm packages to the workspace
# the only packages that are shared are the ones listed in the "dependencies" section
# so you cannot import a transitive dependency from a package in the workspace
shamefully-hoist=false
